*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    height: calc(100vh - 75px);
}

.row{
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
}

.playing{
    width: 100%;
    height: 75px;
    background-color: blue;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

.display-flex-no-wrap{
    display: flex;
}

.sidebar{
    width: 150px;
    height: calc(100vh - 75px);
    background-color: green;
}

main{
    width: calc(100% - 150px);
    height: calc(100vh - 75px); 
}

.playlists{
    width: 100%;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    background-color: #141922;
}

.test{
    background-color: blueviolet;
    width: 33%;
    height: 150%;
}

.margin-5{
    margin: 5px;
}

.icon-sidebar{
    width: 20px;
}

.align-center{
    align-items: center;
}

.color-white{
    color: white;
}

.bottom-0{
    position: absolute;
    bottom: 75px;
    z-index: 1;
}

.icon-profile{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile{
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.col-16{
    width: calc((100% / 6) - 20px);
    height: 150%;
}

.space-between{
    justify-content: space-around;
}

.album{
    width: 100%;
}

.text-center{
    text-align: center;
}

.color-gray{
    color: #a3a3a3;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.album-div {
    position: relative;
}

.album {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.album-div:hover .overlay {
    display: flex;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
}

ul{
    list-style-type: none;
}

.menu li {
    margin-left: 10px;
    margin-right: 10px;
}